nav{
	background-color:black;
	mean-width:2100px;
	height:50px;
}
body{
	//background: -webkit-linear-gradient(left top,#68B5F0,#E5F1FC);
	///background: -o-linear-gradient(bottom right,#68B5F0,#E5F1FC);
	//background: -moz-linear-gradient(bottom right,#68B5F0,#E5F1FC);
	//background: linear-gradient(bottom right,#68B5F0 ,#E5F1FC);
	background-color:rgb(0,0,0,0.2);
	
	
}
main{
	max-width:1200px;
	margin:25px auto 25px auto;
	
	
	
	
}
.title h5{
	font-size:10px;
	
}
.leftdiv img {
	width:250px;
	height:250px;
	border-radius:125px;
	
}
.leftdiv h1{
	font-size:2em;
	font-weight:200;
	
	
	
}
.leftdiv h2{
	font-size:1.5em;
	font-weight:200;
	
}
.social-link i{
	font-size:1.5em;
	margin:25px;
	margin-bottom:20px;
	display:blockdisplay:block
	
	
}
.social-link a {
	color:black;
	
	
}
.information{
		width:40%;
		float:left;
		
}
.content{
	width:60%;
	float:left;
	
}
.leftdiv{
	text-align:center;
	margin:25px 10px;
	background-color:#68B5F0;
	
}
.rightdiv{
	background-color:rgb(255,255,255,0.6);
	
	margin:25px 10px 25px 25px;
	height:800px;
}
.rightdiv h3{
	font-size:0.8em;
	
	
}
.rightdiv img
{
	width:1.5em;
	height:auto;
	
	
	
}
.rightdiv li i
{
	font-size:1.5em;
	
	
}