body{
	background: -webkit-linear-gradient(left top,#68B5F0,#FF862C);
	background: -o-linear-gradient(bottom right,#68B5F0,#FF862C);
	background: -moz-linear-gradient(bottom right,#68B5F0,#FF862C);
	background: linear-gradient(bottom right,#68B5F0 ,#FF862C);
}
.title{
   text-align:center;
   
  font-family: 'Slabo 27px',serif;
  
}
.nav h1{
  font-size:20px;
  text-align:center;
}
.nav{
  background-color:#888;
  height:40px;
  
}
.nav .main{
  height:25px;
  width:30%;
  
  float:left;
 
  vertical-align:middle;
}
.nav .menu{
  height:25px;

}

.nav ul{
  list-style:none;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  
  
}
.nav li{
  display:inline-block;
  padding:12px;
  
}
li a{
  color:black;
  font-weight:300;
  text-decoration:none;
  font-size:1.1em;
  width:18px;
  height:18px;
  text-align:center;
  
}
.title{
	padding:15px;
	text-align:center;
	background-color:white;
	font-size:50px;
}
.leftdiv img {
	width:250px;
	height:250px;
	border-radius:125px;
	
}
.leftdiv h1{
	font-size:2em;
	font-weight:200;
	
	
	
}
.leftdiv h2{
	font-size:1.5em;
	font-weight:200;
	
}
.content{
	width:300px;
	height:auto;

	margin:40px;

}
.bg{
		
	height:700px;
	background-color:white;
	 display:flex;
	  flex-direction:row;
	  justify-content:center;
	
}






.main a{
	color:black;
	text-decoration:none;
}