
.title{
   text-align:center;
  font-family: 'Slabo 27px',serif;
  
}
.nav h1{
  font-size:20px;
  text-align:center;
}
.nav{
  background-color:#888;
  height:40px;
  
}
.nav .main{
  height:25px;
  width:30%;
  
  float:left;
 
  vertical-align:middle;
}
.nav .menu{
  height:25px;

}

.nav ul{
  list-style:none;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  
  
}
.nav li{
  display:inline-block;
  padding:12px;
  
}
li a{
  color:black;
  text-decoration:none;
  font-size:1.1em;
  width:18px;
  height:18px;
  text-align:center;
  
}
.title{
	padding:15px;
	text-align:center;
	background-color:white;
	font-size:50px;
}
.leftdiv img {
	width:250px;
	height:250px;
	border-radius:125px;
	
}
.leftdiv h1{
	font-size:2em;
	font-weight:200;
}
.leftdiv h2{
	font-size:1.5em;
	font-weight:200;
	
}
.content{
	width:300px;
	height:auto;

	margin:40px;

}
.bg{
	width:100%;	
	max-height:1800px;
	background-color:white;
	display:flex;
	flex-direction:row;
	justify-content:center;
	
}
main{
	max-width:1200px;
	margin:25px auto 25px auto;
}
.title{
	text-align:center;
   
	font-family: 'Slabo 27px',serif;
	padding:15px;
	text-align:center;
	background-color:white;
	font-size:50px;
}
.leftdiv img {
	width:250px;
	height:250px;
	border-radius:125px;
	
}
.leftdiv h1{
	font-size:2em;
	font-weight:200;
}
.leftdiv h2{
	font-size:1.5em;
	font-weight:200;
	
}
.social-link i{
	font-size:1.5em;
	margin:15px;
	margin-bottom:10px;
	display:blockdisplay:block
	
	
}
.social-link a {
	color:black;

	
}
.information{
	max-width:300px;
	height:auto;
	background-color:yellow;
	margin:40px;
}
.content{
	width:300px;
	height:100%;
	margin:40px;
}

.about{
	max-width:400px;
	height:100%;
	margin:40px;
}





.leftdiv{
	margin:25px 10px;
}

.page2{
	margin:25px 10px 25px 25px;
	height:auto;
}
.page2 h3{
	font-size:0.8em;
	
	
}
.page2 img
{
	width:1.5em;
	height:auto;
}
.page2 li i
{
	font-size:1.5em;
}


.page1 ul{
	  list-style:none;
	 
}

.page1 li{
	margin:20px  0px 20px 0px;
}
.aboutup{
	
		 display:flex;
	  flex-direction:row;
	  justify-content:space-between;
	  align-items:center;
	  margin:auto;
}
.main a{
	color:black;
	text-decoration:none;
}
@media(max-width:768px){
	body{
		background: blue;
	}
	div .title{
	color:red;
	}
	.bg{
		width:100%;
		max-height:1800px;
		background-color:white;
		display:flex;
		flex-direction:row;
		justify-content:center;
	}
	.content{
	width:300px;
	height:100%;
	margin:40px;
	}
	.about{
		max-width:400px;
		height:100%;
		margin:40px;
	}
}