.contactbox{
    width:100%;
     background-color:#AA06010D;
     .text{
      text-align:left;
      font-size:20px;
      line-height:30px;
      margin-bottom:20px;
    }
    .title{
      text-align:center;
      margin:0 auto;
      font-size:48px;
      line-height:72px;
      margin-bottom:24px;
      color:black;
    }
    .contact {
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:flex-start;
      text-align:left;
      font-size:16px;
      line-height:24px;
    }
    .submit {
      width:100%;
      margin-top: 42px;
      text-align: center;
      display:flex;
      justify-content:center;
      align-items:center;
    }
  }
  .innerbox{ 
    width: 767px;
    padding-top:40px;
    padding-bottom:56px;
    margin:0 auto;
  } 
  .forminner{
    width:100%;
    margin-top: 4px;
    margin-bottom: 16px;
    padding: 14px 16px;
    border: 1px solid #000;
    background-color: transparent;
    font-size:16px;
    line-height:24px;
  }
  .textarea{
      height: 136px;
  }
  input[type="checkbox"] + label {
    display: block;
    cursor: pointer;
    padding-left: 4px;
  }
  
  input[type="checkbox"]{
    display:none;
  }
  input[type=checkbox]+label::before{
    cursor:pointer;
    content: "\2714";
    border: 1px solid #000;
    border-radius: 10%;
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 2px 1px 2px 4px;
    margin-right: 8px;
    color: transparent;
  }
  input[type="checkbox"]:checked +label:before{
      background-color: #AA0601;
    border-color: #AA0601;
    color: #fff;
  }
  
  .agree{
    font-size:16px;
    line-height:16px;
  }
  input[type="submit"] {
    margin:0 auto;
    padding: 16px 58px;
    cursor: pointer;
    border: none;
    background: #AA0601;
    color: #FFF;
  }
  input[type="submit"]:hover{
    background: #650300;
  }
  @media(max-width:992px){
    .innerbox{ 
    max-width:498px;
    width: 767px;
    padding-top:40px;
    padding-bottom:56px;
    margin:0 auto;
  } 
  .contactbox .text{
    max-width:498px;
    text-align:left;
    font-size:16px;
    line-height:24px;
    margin-bottom:20px;
  }
  .forminner{
    width:100%;
    max-width:498px;
    margin-top: 4px;
    margin-bottom: 12px;
    padding: 14px 16px;
    border: 1px solid #000;
    background-color: transparent;
    font-size:16px;
    line-height:24px;
    }
  }
  @media(max-width:767px){
    .innerbox{
      width:375px;
      padding-top:24px;
      padding-bottom:55px;
    }
    .contactbox .title{
    margin:0 auto;
    text-align:left;
    font-size:20px;
    line-height:48px;
    margin-bottom:8px;
  }
    .contactbox .text{
      font-size:16px;
      line-height:24px;
    }
  }
  