.nav-down{
    background-image: url('https://hexschool.github.io/webLayoutTraining1st/week3/banner.png');
    max-width:100%;
    max-height:100%;
    width:auto;
    height:auto;
    background-size: cover;
    background-position:center center;
    z-index:auto;
  }
  .nav-down .container{
    max-width:1224px;
    margin: 0 auto;
    padding: 0 12px;
    height: 840px;
  }
  .container-title{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end
  }
    .slogan{
    font-size: 64px;
    color: #650300;
    font-weight: 500;
    text-align: right;
  }
  .slogan .slogan-sm{
      font-size: 36px;
  }

  @media(max-width:992px){
    .nav-down{
    background-image: url('https://hexschool.github.io/webLayoutTraining1st/week3/banner.png');
    height:840px;
    background-size: cover;
    background-position:center center;
    }
    .nav-down  .container{
      max-width: 672px;
      max-height:840px;
    }  
     .slogan{
    font-size: 48px;
  
  }
  .slogan .slogan-sm{
      font-size: 20px;
  } 
}
@media(max-width:768px){
    .nav-down{
        background-image: url('https://hexschool.github.io/webLayoutTraining1st/week3/banner.png');
        height:394px;
        background-size: cover;
        background-position:center center;
        }
        .nav-down  .container{
          max-width: 352px;
          max-height:394px;
        }
        .slogan {
          font-size: 32px;
        }
        .slogan .slogan-sm {
          font-size: 16px;
        }
}